.root {
    -fx-basic-color: #121212;
    -fx-darker-color: derive(-fx-basic-color, -40% );
    -fx-lighter-color: derive(-fx-basic-color, 80% );
    -fx-lightest-color: derive(-fx-basic-color, 95% );
    -fx-dark-text-color: rgb(47.0, 52.0, 57.0);
    /*-fx-text-color: derive(-fx-basic-color, 70%);*/
    -fx-light-gray-color: rgb(200.0, 200.0, 200.0);
    -fx-lightest-gray-color: rgb(230.0, 230.0, 230.0);

    -fx-primary-text-color: rgba(255,255,255,0.87);
    -fx-secondary-text-color: rgba(255,255,255,0.60);
    -fx-disabled-text-color: rgba(255,255,255,0.38);

    -fx-green-accent-color: rgb(203.0,252.0,118.0);
    -fx-purple-accent-color: rgb(233.0,195.0,248.0);
    -fx-blue-accent-color: rgb(120.0,190.0,249.0);
}

.root {
    -fx-background-color: rgb(230.0, 230.0, 230.0);
    -fx-text-fill: rgb(0,0,0);
}


/****************** LABEL ******************/

.title {
    -fx-font-size: 25px;
    -fx-text-fill: inherit;
    -fx-text-fill: -fx-dark-text-color;
}

.subtitle {
    -fx-font-size: 13px;
    -fx-text-fill: -fx-secondary-text-color;
}

/****************** Button ******************/

.jfx-button {
    -fx-background-color:  #2196F3;
    -fx-text-fill: WHITE;
    -fx-border-radius: 50%;
    -fx-background-radius: 8px;
    -fx-font-size: 20px;
}

.help-button {
    -fx-background-color: -fx-purple-accent-color;
    /*-fx-background-image: url(".qmark.png");*/
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-font-size: 13px;
}


.jfx-button:hover {
    -fx-background-color: -fx-purple-accent-color;
    -fx-text-fill: inherit;
}

/****************** LISTVIEW ******************/


.jfx-list-cell:hover {
    -fx-background-color: -fx-purple-accent-color;
    -fx-text-fill: inherit;
}

.jfx-list-view {
    -fx-background-color: WHITE;
    -fx-background-insets: 0;
    -fx-vertical-gap: 10;
    -fx-cell-vertical-margin: 10.0;
    -fx-text-fill: inherit;
}

/****************** Dialog ******************/

.dialog {
    -fx-font-size: 20px;
    -fx-text-fill: -fx-primary-text-color;
}

/****************** TextArea ******************/

.jfx-text-area {
    -fx-text-fill: BLACK;
   -fx-background-color: WHITE;
}

/****************** Slider ******************/

.jfx-slider > .thumb {
    -fx-background-color: #2196F3;
}

.jfx-slider > .animated-thumb {
    -fx-background-color: #2196F3;
}

.jfx-slider > .colored-track {
    -fx-background-color: #2196F3;
}

/****************** TableView ******************/

.table-view .column-header {
    -fx-background-color: #2196F3;
    -fx-selection-bar-text: firebrick;
}

.table-view .column-header .label {
    -fx-text-fill: WHITE;
}

.table-cell {
    -fx-padding: 0.166667em; 
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-cell-size: 2.0em; 
    -fx-text-fill: black;
    -fx-font-size: 18px;
}

.green-row {
	-fx-background-color: #baffba;
}

.green-row:selected {
	-fx-background-color: #57f757;
}

.yellow-row {
	-fx-background-color: #ffff88;
}

.yellow-row:selected {
	-fx-background-color: yellow;
}

.red-row {
	-fx-background-color: #ff7f7f;
}

.red-row:selected {
	-fx-background-color: #f04b48;
}

/****************** Icons ******************/

.glyph-icon {
    -fx-fill: WHITE;
    -glyph-size: 24px;
}

.star-icon {
    -fx-fill: BLACK;
    -glyph-size: 50px;
}



.table-view {
    /*-fx-table-color: #212121;*/
    -fx-table-rippler-color: #303F9F;
    /*-fx-border-color: #212121;*/
    /*-fx-prompt-text-fill: white;*/
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    /*-fx-background-color: #212121;*/
    -fx-padding: 0;
}
.table-view:focused {
    /*-fx-background-color: #212121;*/
    -fx-focus-color: transparent;
    /*-fx-table-color: #212121;*/
    -fx-faint-focus-color: transparent;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 0, 0, 0;
    -fx-padding: 0; 
}


.table-view:focused .table-row-cell:selected{
    -fx-background-color: #3F51B5;
    -fx-table-cell-border-color: -fx-table-color;
    -fx-text-fill: WHITE;
    -fx-font-family: "Roboto";
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-text-fill: WHITE;
    -fx-font-family: "Roboto";
}

/*.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: #37474F;
}
*/
/*.table-view .column-header {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #263238;
}*/
/*
.table-view .column-header .label {
    -fx-text-fill: WHITE;
    -fx-font-family: "Roboto Medium";
    -fx-padding: 8 0 8;
}
*/
.table-view .table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 12 0 12 0;
    /*-fx-text-fill: WHITE;*/
    -fx-font-family: "Roboto";
    -fx-alignment: top-center;
}


.table-view .column-resize-line, .table-view .column-drag-header {
    -fx-background-color: -fx-table-rippler-color;
}




.table-row-group {
    -fx-background-color: #424242;
}

.table-view .menu-item:focused {
    -fx-background-color: #3F51B5;

}

.table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}

/*
.jfx-combo-box .cell {
    -fx-text-fill: white;
}
*/

/*
.jfx-combo-box .list-cell:hover
{
    -fx-background-color: #3F51B5;
}

*/